/* 

- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weights: 500, 700

- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700

- Font size (paragraph): 14px
*/

:root {
	--Green-500: hsl(158, 36%, 37%);
	--Green-700: hsl(158, 42%, 18%);

	--Black: hsl(212, 21%, 14%);
	--Grey: hsl(228, 12%, 48%);
	--Cream: hsl(30, 38%, 92%);
	--White: hsl(0, 0%, 100%);
}

@font-face {
	font-family: "Montserrat";
	src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf");
}
@font-face {
	font-family: "Fraunces";
	src: url("./assets/fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: var(--Cream);
}

/* DESIGN FOR MOBILE VIEW */

.container {
	background-color: var(--White);
	border-radius: 8px;
	max-width: 324px;
	overflow: hidden;
}

.content {
	padding: 28px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.perf-img {
	width: 100%;
	height: 100%;
}

h1,
h2 {
	font-family: "Fraunces";
}
h1 {
	color: var(--Black);
	font-size: 28px;
	line-height: 1;
}

h2 {
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.price-updated {
	color: var(--Green-500);
}

.price-outdated {
	font-size: 14px;
	font-weight: 500;
	color: var(--Grey);
	text-decoration: line-through;
}

p {
	color: var(--Grey);
	font-size: 14px;
	line-height: 1.5;
	font-weight: 500;
}

.perfume {
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 500;
}

p,
.price-outdated,
button {
	font-family: "Montserrat";
}

button {
	background-color: var(--Green-500);
	color: var(--White);
	border: none;
	border-radius: 8px;
	padding: 16px;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	cursor: pointer;
}

/* DESIGN FOR DESKTOP VIEW */
@media (min-width: 768px) {
	.container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		max-width: 680px;
		height: fit-content;
	}

	.content {
		padding: 40px;
		gap: 24px;
	}
	h1 {
		font-size: 40px;
	}
	h2 {
		font-size: 38px;
	}
	p {
		font-size: 1rem;
	}
	.perf-img {
		content: url(./assets/images/image-product-desktop.jpg);
	}
}
